* {
  box-sizing: border-box;
}

body {background-image: url('car bkgnd.jpg');background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Jost';} 


.header {margin:0 auto; display: flex;}

    .logotitle {display: flex;
    padding-left: 2rem;
    width:25% auto;
    } 

      .logotitle span {font-size: 2rem; padding-top: 1.5rem;}

      .logotitle h1 {padding-left:1rem;}

    .navbox ul {display:flex;
    list-style: none;
    margin:0;}

      .navbox li {padding: 1.5rem;
      width: 40%;}

      .bookapp { background-color: aliceblue;cursor: pointer;
      position: relative;
      margin: .5rem;}


      .drop-down {display: none;
      position: absolute;
      top: 61px;
      left: 0;
      z-index: 0;
      background-color: rgb(159, 197, 209);
      padding: 1.25rem;
      height: auto;  
      width: auto;}

      .dropdown li {margin: .5rem;
      padding: .5rem;}

      .bookapp:hover .drop-down{
  display: block;
}



.herocontainer {margin: 8rem;
width:80%;
}

.herocontainer h2 {font-size: 1.25rem;
padding: .5rem;
color: white;}

.herocontainer a {background-color: rgb(55, 165, 255); text-decoration: none;
padding: 1rem;
border-radius: 10px;
color: black;}


.bottomheader {display: flex; background-color: gray;
height: 6rem;
font-size: .75rem;
width:100%;
}

.bottomheader div {;
padding-left: 4rem;
padding-right: 4rem;
padding-top: 1rem;
padding-bottom: 1rem;}

.bottomheader h1 {font-size: 1rem;
padding: 0;
color:rgb(24, 109, 148);}



@media screen and (max-width: 1024px) {

  .logotitle h1 {font-size: 3rem;}
   
      .logotitle span {font-size:3rem;
      padding-top: 3rem;}


  .navbox {width: 75%;
  padding-top: 2.5rem;}


  .bottomheader {justify-content: space-evenly;}


  .herocontainer {background-color: rgba(196, 193, 233, 0.7);
  width:30%;
  padding: .5rem;
  border-radius: 10px;
  }
  
}






@media screen and (max-width: 480px) {

  .logotitle h1 {display: none;} 


  .navbox li {padding:0.5;
  width: 30%;
  font-size:.75rem;}


  .bookapp {display: none;}


  .bottomheader div {padding-left: 2rem;
padding-right: 2rem;
padding-top: .5rem;
padding-bottom: .5rem;
  }

  .herocontainer {width: 50%;

}

